{% extends 'base.html' %}
{% load static %}
{% block title %}Ticket Payments {% endblock title %}

{% block main %}

<section class="container mt-6">
    <div class="flex flex-col md:flex-row justify-between items-start gap-8 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="w-full md:w-auto flex-1">
            <div class="flex flex-wrap justify-between items-center">
                <p class="text-lg font-bold">Ticket Confirmation</p>
    
                <div class="flex items-center gap-2">
                   <p class="text-md text-gray-700 font-semibold">Flight Selection</p>
    
                   <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right text-gray-600 w-4 h-4" width="20" height="20" viewBox="0 0 20 20" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M9 6l6 6l-6 6"></path>
                   </svg>
    
                   <p class="text-md text-gray-700 font-semibold">Booking</p>
    
                   <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right text-gray-600 w-4 h-4" width="20" height="20" viewBox="0 0 20 20" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M9 6l6 6l-6 6"></path>
                   </svg>
    
                   <p class="text-md text-gray-900 font-semibold">Payment</p>
                </div>
             </div>

             <!-- flight short info -->
            <div class="mt-4 p-8 bg-white border border-gray-200 rounded-md drop-shadow-sm">
                <div class="flex justify-start items-center gap-4">
                    <img src="{% static 'images/card-icons/visa.svg' %}" class="w-20 h-10" alt="">
                    <img src="{% static 'images/card-icons/master.svg' %}" class="w-20 h-10" alt="">
                    <img src="{% static 'images/card-icons/ae.svg' %}" class="w-20 h-10" alt="">
                    <img src="{% static 'images/card-icons/db.svg' %}" class="w-20 h-10" alt="">
                    <img src="{% static 'images/card-icons/up.svg' %}" class="w-20 h-10" alt="">
                </div> <hr class="mt-6">

                <p class="mt-8 text-md font-normal">Enter first 6 digits of your card</p>
                <div class="flex items-center gap-2">
                    <p class="text-md text-start font-normal tracking-tight">This is collected to check the eligibility of discount for a card</p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-square-rounded w-5 h-5 opacity-60" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 9h.01"></path>
                        <path d="M11 12h1v4h1"></path>
                        <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"></path>
                     </svg>
                </div>

                <p class="mt-6 text-lg text-start text-blue-900 font-bold tracking-tight">Card Details</p>
                <form class="mt-4" action="" method="POST">
                  {% csrf_token %}
                    <div class="mt-4 grid gap-6 md:grid-cols-2">
                        <div>
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">(Full name as displayed on card)*</label>
                            {{ form.user_card_name }}
                        </div>
                        <div>
                            <label for="card_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Card Number *</label>
                            {{ form.user_card_number }}
                        </div>
      
                        <div>
                           <label for="cvc" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CVC *
                           </label>
                           {{ form.user_cvc_number }}
                        </div>  
                        <div>
                            <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Postal / ZIP code (optional)</label>
                            {{ form.user_postal_code }}
                        </div>
                     </div>

                     <button type="submit" class="mt-6 focus:outline-none text-blue-900 bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-semibold rounded-lg text-md px-5 py-2.5 mr-2 dark:focus:ring-yellow-900">Add Payment</button>
                </form>
            </div>
        </div>

        <!-- Flight casd Summary -->
        <div class="w-full md:w-1/3 mt-2 md:mt-0 p-4 bg-white border border-gray-200 rounded-md drop-shadow-sm md:sticky md:top-28">
            <div class="flex justify-center items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plane-inflight text-gray-800" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                   <path d="M15 11.085h5a2 2 0 1 1 0 4h-15l-3 -6h3l2 2h3l-2 -7h3l4 7z"></path>
                   <path d="M3 21h18"></path>
                </svg>
                <p class="text-lg text-center font-semibold">Flight</p>
             </div> <hr class="mt-1">
    
             <p class="mt-2 text-md text-center font-bold tracking-tight">DAC - CXB</p>
             <p class="text-md text-center font-normal tracking-tight">On Way</p> <hr class="mt-2">
    
             <p class="mt-4 text-lg text-start text-blue-900 font-semibold tracking-tight">Fare Summary</p>
    
             <p class="mt-2 text-md text-start font-normal tracking-tight">Adult (1 traveler)</p>
             <div class="flex justify-between items-center">
                <p class="text-md font-normal tracking-tight">Base Fare</p>
                <p class="text-md font-normal tracking-tight">BDT 3,774</p>
             </div>
             <div class="flex justify-between items-center">
                <p class="text-md font-normal tracking-tight">Tax</p>
                <p class="text-md font-normal tracking-tight">BDT 925</p>
             </div> <hr class="mt-2">
    
             <div class="flex justify-between items-center mt-2">
                <p class="text-md font-normal tracking-tight">Sub-Total</p>
                <p class="text-md font-normal tracking-tight">BDT 4,699</p>
             </div>
             <div class="flex justify-between items-center">
                <div class="flex items-center gap-2">
                   <p class="text-md font-normal tracking-tight">Discount</p>
                   <p class="px-3 py-1 opacity-70 text-sm font-semibold tracking-tight bg-yellow-200 rounded-md">5% off</p>
                </div>
                <div class="flex items-center gap-1">
                   <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-minusw-5 h-5 text-green-500" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                      <path d="M9 12l6 0"></path>
                   </svg>
                   <p class="text-md text-green-500 font-normal tracking-tight">BDT 415</p>
                </div>
             </div>
    
             <div class="mt-6 p-4 text-blue-900 bg-green-200 rounded-sm drop-shadow-md">
                <div class="flex justify-between items-center">
                   <p class="text-lg font-semibold tracking-tight">You Pay (for 1 Traveler)</p>
                   <p class="text-lg font-semibold tracking-tight">BDT 4,374</p>
                </div>
    
                <div class="flex justify-between items-center text-green-500">
                   <p class="text-md font-normal tracking-tight">You Save 😊</p>
                   <p class="text-md font-normal tracking-tight">BDT 415</p>
                </div>
             </div>
        </div>
    </div>
</section>

{% endblock main %}