{% load mathfilters %}

<div class="bg-white flex flex-col rounded overflow-hidden shadow border p-4 mb-4 last:mb-0">
    <div class="flex justify-start">
        <div class="flex flex-row flex-none items-baseline rounded-full bg-gray-100 py-1 px-2">
            <svg viewBox="0 0 64 64" pointer-events="all" aria-hidden="true" class="etiIcon css-jbc4oa"
                role="presentation" style="fill: rgb(102, 102, 102); height: 12px; width: 12px;">
                <path
                    d="M43.389 38.269L29.222 61.34a1.152 1.152 0 01-1.064.615H20.99a1.219 1.219 0 01-1.007-.5 1.324 1.324 0 01-.2-1.149L26.2 38.27H11.7l-3.947 6.919a1.209 1.209 0 01-1.092.644H1.285a1.234 1.234 0 01-.895-.392l-.057-.056a1.427 1.427 0 01-.308-1.036L1.789 32 .025 19.656a1.182 1.182 0 01.281-1.009 1.356 1.356 0 01.951-.448l5.4-.027a1.227 1.227 0 01.9.391.85.85 0 01.2.252L11.7 25.73h14.5L19.792 3.7a1.324 1.324 0 01.2-1.149A1.219 1.219 0 0121 2.045h7.168a1.152 1.152 0 011.064.615l14.162 23.071h8.959a17.287 17.287 0 017.839 1.791Q63.777 29.315 64 32q-.224 2.685-3.807 4.478a17.282 17.282 0 01-7.84 1.793h-9.016z">
                </path>
            </svg>
            <p class="font-normal text-sm ml-1 text-gray-500">{{ ticket.flight_type }}</p>
        </div>
    </div>
    <div class="mt-2 flex sm:flex-row sm:justify-between items-center flex-wrap ">
        <div class="flex flex-row place-items-center w-full max-w-[14rem]">
            <img alt="Qatar Airways" class="w-20 h-10 mr-2"
                src="{% if ticket.airplane.logo %}{{ ticket.airplane.logo.url }}{% else %}https://storage.googleapis.com/gz-flight-prod-booking-data/carrier/logo/d31c6c3d-505d-4675-9b02-ecd9c2301115.png{% endif %}"
                style="opacity: 1; transform-origin: 0% 50% 0px; transform: none;" />
            <div class="flex flex-col ml-2 text-xs text-gray-500">
                <p class="font-bold line-clamp-1">{{ ticket.airplane.name }}</p>
                <p class="">{{ ticket.airplane.model }}</p>
                <div class="mt-2">1*{{ ticket.get_total_baggage }} KG</div>
            </div>
        </div>

        <div class="flex justify-center items-center gap-6">
            <div class="flex flex-col p-2">
                <p class="font-medium">{{ ticket.depart_time }}</p>
                <p class="font-semibold text-gray-400 text-xs mb-2">{{ ticket.depart_date }}</p>
                <p class="text-gray-500"><span class="font-bold">{{ ticket.location_from.code }}</span></p>
                <!-- <p class="text-gray-500">{{ ticket.location_from.country.name }}</p> -->
            </div>
            <div class="flex justify-center flex-col items-center">
                <span>{{ ticket.duration }}</span>
                <img src="https://flightexpert.com/assets/img/non-stop-shape.png" alt="">
            </div>
            <div class="flex flex-col flex-wrap p-2">
                <p class="font-medium">{{ ticket.arrive_time }}</p>
                <p class="font-medium text-gray-400 text-xs mb-2">{{ ticket.arrive_date }}</p>
                <p class="text-gray-500"><span class="font-bold">{{ ticket.location_to.code }}</span></p>
                <!-- <p class="text-gray-500">{{ ticket.location_to.country.name }}</p> -->
            </div>
        </div>
        <div class="md:border-l-2 px-4 md:border-dotted flex flex-col justify-between gap-4 items-center flex-wrap">
            <div class="flex gap-2">
                <svg class="w-9 p-2 self-center bg-green-800 rounded-full fill-current text-white"
                    viewBox="0 0 64 64" pointer-events="all" aria-hidden="true" class="etiIcon css-ecvhkc"
                    role="presentation" style="fill: rgb(255, 255, 255);">
                    <path
                        d="M62.917 38.962C59.376 53.71 47.207 64 31.833 64a31.93 31.93 0 01-21.915-8.832l-5.376 5.376a2.65 2.65 0 01-1.874.789A2.685 2.685 0 010 58.668V40a2.687 2.687 0 012.667-2.667h18.666A2.687 2.687 0 0124 40a2.645 2.645 0 01-.793 1.877L17.5 47.58a21.244 21.244 0 0032.665-4.414 33.706 33.706 0 002.208-4.873 1.292 1.292 0 011.25-.96h8a1.342 1.342 0 011.333 1.337.738.738 0 01-.041.293M64 24a2.687 2.687 0 01-2.667 2.668H42.667A2.687 2.687 0 0140 24a2.654 2.654 0 01.793-1.877l5.749-5.746a21.336 21.336 0 00-32.706 4.457 33.224 33.224 0 00-2.208 4.873 1.293 1.293 0 01-1.25.96H2.085A1.342 1.342 0 01.752 25.33v-.293C4.334 10.247 16.626 0 32 0a32.355 32.355 0 0122.041 8.832l5.419-5.376a2.644 2.644 0 011.872-.789A2.685 2.685 0 0164 5.333z">
                    </path>
                </svg>
                <div class="text-sm flex flex-col">
                    <p class="font-bold">{{ ticket.get_ticket_price|floatformat:2 }} ৳</p>
                    <p class="text-xs text-gray-500">Price per adult</p>
                </div>
            </div>
            <a href="{% url 'app_flight:tickets_details' ticket.id %}?traveler={{traveler}}"
                class="w-full rounded px-5 py-1.5 text-white bg-green-800 text-center ">
                <div class="">Book</div>
            </a>
        </div>
    </div>
</div>