{% extends 'app_main/dashboard/base.html' %}
{% load static %}
{% block title %}Update Profile | {% endblock title %}


{% block main_content %}

<section class="p-6 h-full overflow-y-auto overflow-x-hidden">
    {% include 'app_main/partials/section_nav.html' %}
    <div class="w-full mx-auto p-6">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Change your password</h2> <hr class="my-4">
        <form method="post">
            {% csrf_token %}
            <div class="mb-6">
                <label for="password" class="block mb-2 text-base font-semibold text-gray-900 dark:text-white">Your old password</label>
                {{ form.old_password }}
                <label for="">{{ form.old_password.help_text }}</label>
                <label for="">{{ form.old_password.errors }}</label>
            </div>
            <div class="mb-6">
            <label for="password" class="block mb-2 text-base font-semibold text-gray-900 dark:text-white">Your new password</label>
                {{ form.new_password1 }}
                <label for="" class="text-sm mt-2 block text-gray-500 ">{{ form.new_password1.help_text }}</label>
                <label for="">{{ form.new_password1.errors }}</label>
            </div>
            <div class="mb-6">
                <label for="password" class="block mb-2 text-base font-semibold text-gray-900 dark:text-white">Your new confirm password</label>
                {{ form.new_password2 }}
                <label for="">{{ form.new_password2.help_text }}</label>
                <label for="">{{ form.new_password2.errors }}</label>
            </div>
            <button type="submit" class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Submit</button>        </form>
    </div>
</section>

{% endblock main_content %}


{% block script %} 

<script>
    $('#id_old_password').addClass("bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-600 focus:border-green-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500");
    $("#id_old_password").attr("placeholder", "••••••••");

    $('#id_new_password1').addClass("bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-600 focus:border-green-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500");
    $("#id_new_password1").attr("placeholder", "••••••••");

    $('#id_new_password2').addClass("bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-600 focus:border-green-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500");
    $("#id_new_password2").attr("placeholder", "••••••••");
</script>

{% endblock script %}