@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-btn{
    @apply py-2 px-4 bg-indigo-600 outline-none rounded-md hover:bg-indigo-800
}
nav{
    @apply bg-white border-gray-200 dark:bg-gray-900 sticky top-0 inset-x-0 w-full z-50 transition-all duration-500;
}
nav.home{
    @apply bg-transparent fixed text-white;
}
nav.scrolled{
    @apply bg-white shadow text-neutral-900;
}

input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
  
/* @apply w-6 h-6 appearance-none pointer-events-auto; */
}
input[type='text'],input[type='date']{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
select{
    @apply bg-gray-50 border max-w-[16rem] border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

#id_tour_location{
    @apply py-3 pl-12 max-w-full bg-white border border-gray-300 text-gray-900 text-lg font-semibold rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}