<div class="md:max-w-xs md:w-96">
    <div class="flex justify-between items-center mb-4">
        <!-- filters Button (md and plus Screen) -->
        <button onclick="showFilters()"
            class="cursor-pointer flex gap-2 text-white hover:bg-gray-700 focus:ring focus:ring-offset-2 focus:ring-gray-800 py-1.5 px-3 bg-gray-800 text-sm justify-center items-center">
            <i class="ti ti-adjustments-alt text-base"></i>
            Filters
        </button>
        <p class="text-base text-gray-600 font-medium">Showing 09 Results</p>

    </div>

    <div id="filterSection" class="block relative bg-gray-50 w-full p-4 shadow">
        <!-- Cross button Code -->
        <div onclick="closeFilterSection()" class="cursor-pointer flex justify-end">
            <i class="ti ti-x"></i>
        </div>
        <!-- Colors Section -->
        <div>
            <p class="lg:text-lg text-base font-medium mb-2">Price Range</p>
            <div x-data="range()" x-init="mintrigger(); maxtrigger()" class="relative max-w-xl w-full">
                <div>
                    <input type="range" step="100" x-bind:min="min" x-bind:max="max" x-on:input="mintrigger"
                        x-model="minprice"
                        class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">

                    <input type="range" step="100" x-bind:min="min" x-bind:max="max" x-on:input="maxtrigger"
                        x-model="maxprice"
                        class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">

                    <div class="relative z-10 h-2">

                        <div class="absolute z-10 left-0 right-0 bottom-0 top-0 rounded-md bg-gray-200"></div>

                        <div class="absolute z-20 top-0 bottom-0 rounded-md bg-green-300"
                            x-bind:style="'right:'+maxthumb+'%; left:'+minthumb+'%'"></div>

                        <div class="absolute z-30 w-4 h-4 top-0 left-0 bg-green-300 rounded-full -mt-1"
                            x-bind:style="'left: '+minthumb+'%'"></div>

                        <div class="absolute z-30 w-4 h-4 top-0 right-0 bg-green-300 rounded-full -mt-1"
                            x-bind:style="'right: '+maxthumb+'%'"></div>

                    </div>

                </div>

                <div class="flex items-center justify-between pt-5 space-x-4 text-sm text-gray-700">
                    <div>
                        <input type="text" maxlength="5" x-on:input.debounce="mintrigger" x-model="minprice"
                            wire:model.debounce.300="minPrice"
                            class="w-24 px-3 py-2 text-center border border-gray-200 rounded-lg bg-gray-50 focus:border-yellow-400 focus:outline-none">
                    </div>
                    <div>
                        <input type="text" maxlength="5" x-on:input.debounce.300="maxtrigger" x-model="maxprice"
                            wire:model.debounce="maxPrice"
                            class="w-24 px-3 py-2 text-center border border-gray-200 rounded-lg bg-gray-50 focus:border-yellow-400 focus:outline-none">
                    </div>
                </div>

            </div>
        </div>

            <hr class="bg-gray-200 w-full md:my-6 my-3" />

            <!-- Material Section -->
            <div>
                <p class="lg:text-lg text-base font-medium mb-2">Schedule</p>
                <ul class="flex flex-wrap justify-center items-center gap-3">
                    <li class="relative flex-1">
                        <input class="sr-only peer" type="checkbox" value="day" name="schedule" id="schedule_day">
                        <label
                            class="flex flex-col justify-center items-center p-4 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-gray-500 peer-checked:ring-2 peer-checked:border-transparent"
                            for="schedule_day">
                            <i class="ti ti-sunrise text-4xl"></i>
                            <span class="text-xs font-medium">Day</span>
                            <span class="text-xs text-gray-600">00.00 - 11:59</span>
                        </label>
                    </li>
                    <li class="relative flex-1">
                        <input class="sr-only peer" type="checkbox" value="night" name="schedule" id="schedule_night">
                        <label
                            class="flex flex-col justify-center items-center p-4 bg-white border border-gray-300 rounded-lg cursor-pointer focus:outline-none hover:bg-gray-50 peer-checked:ring-gray-500 peer-checked:ring-2 peer-checked:border-transparent"
                            for="schedule_night">
                            <i class="ti ti-sunset text-4xl"></i>
                            <span class="text-xs font-medium">Night</span>
                            <span class="text-xs text-gray-600">12.00 - 23:59</span>
                        </label>
                    </li>
                </ul>
            </div>

            <hr class="bg-gray-200 w-full md:my-8 my-4" />

            <!-- Size Section -->
            <div>
                <p class="lg:text-lg text-base font-medium mb-2">Airlines</p>
                <div class="grid grid-cols-2 gap-3">
                    <div class="flex items-center">
                        <input class="w-4 h-4 mr-2" type="checkbox" id="Large" name="airplane__airplane_name" value="US Bangla" />
                        <label class="text-sm leading-3 font-normal text-gray-600 dark:text-gray-300"
                            for="Large">US Bangla</label>

                    </div>
                    
                </div>
            </div>

            <div class="block w-full mt-10">
                <button type="submit"
                    class="w-full hover:bg-gray-700 dark:hover:bg-gray-100 focus:ring focus:ring-offset-2 focus:ring-gray-800 text-base leading-4 font-medium py-3 rounded px-4 text-white bg-gray-800">Apply
                    Filter</button>
            </div>
        </form>
    </div>
</div>

<style>
    .checkbox:checked+.check-icon {
        display: flex;
    }
</style>


<script>
    function showFilters() {
        var fSection = document.getElementById("filterSection");
        if (fSection.classList.contains("hidden")) {
            fSection.classList.remove("hidden");
            fSection.classList.add("block");
        } else {
            fSection.classList.add("hidden");
        }
    }

    function applyFilters() {
        document.querySelectorAll("input[type=checkbox]").forEach((el) => (el.checked = false));
    }

    function closeFilterSection() {
        var fSection = document.getElementById("filterSection");
        fSection.classList.add("hidden");
    }

</script>




<script>
    function range() {
        return {
            minprice: 0,
            maxprice: 100000,
            min: 0,
            max: 100000,
            minthumb: 0,
            maxthumb: 0,
            mintrigger() {
                this.validation();
                this.minprice = Math.min(this.minprice, this.maxprice - 5000);
                this.minthumb = ((this.minprice - this.min) / (this.max - this.min)) * 100;
            },
            maxtrigger() {
                this.validation();
                this.maxprice = Math.max(this.maxprice, this.minprice + 2000);
                this.maxthumb = 100 - (((this.maxprice - this.min) / (this.max - this.min)) * 100);
            },
            validation() {
                if (/^\d*$/.test(this.minprice)) {
                    if (this.minprice > this.max) {
                        this.minprice = 95000;
                    }
                    if (this.minprice < this.min) {
                        this.minprice = this.min;
                    }
                } else {
                    this.minprice = 0;
                }
                if (/^\d*$/.test(this.maxprice)) {
                    if (this.maxprice > this.max) {
                        this.maxprice = this.max;
                    }
                    if (this.maxprice < this.min) {
                        this.maxprice = 2000;
                    }
                } else {
                    this.maxprice = 100000;
                }
            }
        }
    }
</script>