{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Travel Agency</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
</head>

<body class="bg-neutral-100">
    {% include 'app_main/components/nav.html' %}
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    {% block script %}
    {% endblock script %}
    <!-- flowbite script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/datepicker.min.js"></script>
    <script>
        function stickyElement(e) {
            var navbar = document.querySelector('#nav');
            var navbarHeight = getComputedStyle(nav).height.split('px')[0];
            var scrollValue = window.scrollY;

            if (scrollValue > navbarHeight) {
                navbar.classList.add('scrolled');

            } else if (scrollValue < navbarHeight) {
                navbar.classList.remove('scrolled');
            }
        }
        window.addEventListener('scroll', stickyElement);

    </script>
</body>

</html>