{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock title %}


{% block main %}
<section class="container mx-auto mt-6">
    <div class="flex flex-row items-center gap-4">
        <select id="countries" class="py-6 bg-gray-50 border border-gray-300 text-gray-900 text-xl font-semibold rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Select Location/Tour</option>
            <option value="US">Tanguar Haor</option>
            <option value="CA">Cox's Bazar</option>
        </select>

        <button type="button" class="py-[1.2rem] px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Modify Search</button>
    </div>

    <div class="my-4 flex flex-row items-start gap-6">
        <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg drop-shadow-lg dark:bg-gray-800 dark:border-gray-700">
            <h5 class="mb-2 text-xl font-normal tracking-tight text-gray-900 dark:text-white">Destination: 2 places found</h5>
            <h5 class="text-xl font-medium tracking-tight text-gray-900 dark:text-white">Filter By</h5> <hr class="mb-4">
            <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Reset Filters
            </button>
        </div>

        {% include 'app_tour/partial/tour_card.html' %}
    </div>
</section>
{% endblock main %}