{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock title %}


{% block main %}
<section class="container mx-auto mt-6">
    <form id="navForm" class="flex flex-row gap-4 mt-4 mb-12">
        <div class="flex-1 relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-browser-check text-gray-500 dark:text-gray-400" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 4m0 1a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1z"></path>
                    <path d="M4 8h16"></path>
                    <path d="M8 4v4"></path>
                    <path d="M9.5 14.5l1.5 1.5l3 -3"></path>
                </svg>
            </div>
            {{filter_form.tour_location}}
        </div>
        <button type="button" onclick="submit_filter_forms()"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Modify Search
        </button>
    </form>


    <div class="flex gap-6 flex-col md:flex-row">
        {% include 'app_tour/partials/filter.html' %}

        <div class="flex-1">
            {% for tour in tour_packages %}
                {% include 'app_tour/partials/tour_card.html' %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock main %}