{% extends 'base.html' %}
{% load static %}
{% block title %}Home {% endblock title %}


{% block main %}
<section class="container mx-auto mt-6">

    {% if not request.user.is_authenticated %}
    <div id="alert-border-2" class="flex items-center p-4 mb-4 text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800" role="alert">
        <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <div class="ml-3 text-sm font-medium">
          Dear sir/madam, you can't book a tour without <a href="{% url 'app_main:signin' %}" class="font-semibold underline hover:no-underline">signin </a>or <a href="{% url 'app_main:signup' %}" class="font-semibold underline hover:no-underline">signup </a>.
        </div>
        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"  data-dismiss-target="#alert-border-2" aria-label="Close">
          <span class="sr-only">Dismiss</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
    </div>
    {% endif %}

    <form id="navForm" class="flex flex-row gap-4 mt-4 mb-12">
        <div class="flex-1 relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-browser-check text-gray-500 dark:text-gray-400" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 4m0 1a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1z"></path>
                    <path d="M4 8h16"></path>
                    <path d="M8 4v4"></path>
                    <path d="M9.5 14.5l1.5 1.5l3 -3"></path>
                </svg>
            </div>
            {{filter_form.tour_location}}
        </div>
        <button type="button" onclick="submit_filter_forms()"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Modify Search
        </button>
    </form>


    <div class="flex gap-6 flex-col md:flex-row">
        {% include 'app_tour/partials/filter.html' %}

        <div class="flex-1">
            {% for tour in tour_packages %}
                {% include 'app_tour/partials/tour_card.html' %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock main %}